langchain
langchain_community
langchain_experimental
langchain_google_genai
openai
pandas
libtk8.6
pdfminer
pdfplumber
pikepdf
presidio_analyzer
presidio_anonymizer
PyPDF2
python-dotenv
reportlab
streamlit
tiktoken
pdfminer.six
tabula
